main {
    padding: 0 15%;
    font-family: "Montserrat", "sans-serif";
}

a {
    color: blue;
    transition: all 0.5s ease 0s;
}

a:hover {
    color: darkmagenta;
}

h1 {
    color: red;
}

h2 {
    color: blueviolet;
}

h3 {
    color: chocolate;
}

li {
    font-style: italic;
}

p {
    text-indent: 30px;
    font-size: 18px;
}
